<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    Example Home page!
    <p><a href="http://localhost/google"> <img src="./index.png" weight=125px height=125px> </a></p><br>
</body>
</html>